body {
    background-color: #fbfaff;
    font-family: 'Lato Bold', 'Lato Regular', 'Lato', 
}

#login {
    color: #282b4b;
}   

.border{
    border-radius: 15px;
    border: 1px solid #ffffff;
    background-color: #fcfcfe;
    color: #c2c4cf;
    box-shadow: 1px 1px 4px 0px rgba(66, 83, 159, 0.35), inset 1px 2px 4px 0px rgba(66, 83, 159, 0);
}

.button {
    font-size: larger;
    border-radius: 15px;
    background-color: #646fcb;
    font-weight: 700;
    color: #ffffff;
  }